{% extends 'blog/base.html' %}

{% block title %}Buscar Post{% endblock %}

{% block content %}
<h2>Buscar publicaciones por título</h2>
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Buscar</button>
    </form>
</div>

{% if resultados %}
<div class="resultados">
    <h3>Resultados:</h3>
    <ul>
        {% for post in resultados %}
            <li>{{ post.titulo }} - Autor: {{ post.autor.nombre }}</li>
        {% empty %}
            <li>No se encontraron resultados.</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
